.MuiCard-root {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  cursor: pointer;
}

.MuiCard-root:hover {
  transform: translateY(-5px); /* Mover hacia arriba */
  box-shadow: 0 8px 16px rgba(0,0,0,0.2); /* Sombra más grande */
}